################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VectorMatrices/v15/Browse.VC.opendb
